
$fst-color = rgba(13, 13, 13, 1);
$snd-color = rgba(210, 210, 210, 1);

.sub-window
    position: absolute
    top: 5vh
    left: 5vw
    width: 90vw
    height: 90vh
    display: flex
    background-color: $snd-color
    transition: top 200ms

.sub-window_off
    top: -100vh