
.sound
.key-bindings
    flex-basis: 50%
    display: flex
    flex-direction: column
    font-family: 'Open Sans Condensed'
    color: $fst-color


.sound__title-wrapper
.key-bindings__title-wrapper
    height: 20%
    display: flex
    justify-content: center
    align-items: center
    font-size: 3vh

.sound__items
.key-bindings__items
    display: flex
    flex-direction: column
    align-items: center
    font-weight: 300

.sound__item
.key-bindings__item
    margin-top: 10% 

.sound__item_off
    color: lighten($fst-color, 15%)
    text-decoration: line-through
