@import './ui/fonts'

*
    cursor: default

html
body 
    padding: 0
    margin: 0
    overflow: hidden
    background-color: rgba(13, 13, 13, 1)

.app
    width: 100vw
    height: 100vh

@import './ui/common'
@import './ui/canvas'
@import './ui/main-page'
@import './ui/play-mods'
@import './ui/settings'
@import './ui/info-panel'
@import './ui/game-over'
